[submodule "StSDK"]
	path = StSDK
	url = git@github.com:ttoocs/Structure-SDK.git
[submodule "ER_port"]
	path = ER_port
	url = git@github.com:Spoonman376/Elastic-Reconstruction-Port.git
[submodule "3d-re"]
	path = 3d-re
	url = git@github.com:Spoonman376/3d-Reconstruction.git
[submodule "ER_myfork"]
	path = ER_myfork
	url = git@github.com:ttoocs/ElasticReconstruction.git
[submodule "pcl"]
	path = pcl
	url = git@github.com:ttoocs/pcl.git
[submodule "ElasticFusion"]
	path = ElasticFusion
	url = git@github.com:mp3guy/ElasticFusion.git
[submodule "FastGlobalRegistration"]
	path = FastGlobalRegistration
	url = https://github.com/IntelVCL/FastGlobalRegistration.git
[submodule "dvo_slam"]
	path = dvo_slam
	url = https://github.com/tum-vision/dvo_slam.git
[submodule "GraphOptimizerTest"]
	path = GraphOptimizerTest
	url = https://github.com/Spoonman376/GraphOptimizerTest.git
[submodule "oni_stuff/converter"]
	path = oni_stuff/converter
	url = git@github.com:ttoocs/OpenNi2-OpenNi1-.oni-converter.git
