[submodule "StSDK"]
	path = StSDK
	url = git@github.com:ttoocs/Structure-SDK.git
[submodule "ER_port"]
	path = ER_port
	url = git@github.com:Spoonman376/Elastic-Reconstruction-Port.git
[submodule "3d-re"]
	path = 3d-re
	url = git@github.com:Spoonman376/3d-Reconstruction.git
[submodule "ER_myfork"]
	path = ER_myfork
	url = git@github.com:ttoocs/ElasticReconstruction.git
[submodule "pcl"]
	path = pcl
	url = git@github.com:ttoocs/pcl.git
[submodule "ElasticFusion"]
	path = misc/related_projects/ElasticFusion
	url = git@github.com:mp3guy/ElasticFusion.git
[submodule "FastGlobalRegistration"]
	path = misc/related_projects/FastGlobalRegistration
	url = https://github.com/IntelVCL/FastGlobalRegistration.git
[submodule "dvo_slam"]
	path = misc/related_projects/dvo_slam
	url = https://github.com/tum-vision/dvo_slam.git
[submodule "GraphOptimizerTest"]
	path = GraphOptimizerTest
	url = https://github.com/Spoonman376/GraphOptimizerTest.git
[submodule "oni_stuff/converter"]
	path = oni_stuff/converter
	url = git@github.com:ttoocs/OpenNi2-OpenNi1-.oni-converter.git
[submodule "OpenNI2"]
	path = OpenNI2
	url = git@github.com:ttoocs/OpenNI2.git
[submodule "libfreenect2"]
	path = libfreenect2
	url = git@github.com:ttoocs/libfreenect2
[submodule "spcl"]
	path = spcl
	url = https://github.com/qianyizh/StanfordPCL.git
[submodule "SeperateKinfu"]
	path = SeperateKinfu
	url = git@github.com:ttoocs/SeperateKinfu.git
